apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
  type: ClusterIP # Internal access only
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1 # Keep as 1 to avoid file sync issues without shared storage
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: aaryatilak/swarsetu-backend:v4 # <--- CHANGE USERNAME
        ports:
        - containerPort: 4000
        env:
        - name: DB_HOST
          value: "mysql-service" # Must match the Service name defined in mysql-deployment.yaml
        - name: DB_PASSWORD
          value: "root"
        volumeMounts:
        - name: uploads-storage
          mountPath: /app/uploads
      volumes:
      - name: uploads-storage
        persistentVolumeClaim:
          claimName: uploads-pv-claim